// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// about
.about_image {
  height: 500px;
  width: 100%;
}

.on_sell_text {
  justify-content: center;
}

.about{
  .top-box{
    position: relative;

    .top-text img{
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      margin:0;
      padding:0;
      color: #2f5864;
      font-size: 15px;
      width: 100px;

      @media (min-width: 426px){
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        margin:0;
        padding:0;
        color: #2f5864;
        font-size: 20px;
        width: 150px;
      }
      @media(min-width: 1025px){
        position: absolute;
        top: 65%;
        left: 50%;
        -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        margin:0;
        padding:0;
        color: #2f5864;
        font-size: 25px;
        width: 170px;
      }
    }

    .top-image{
      background-image: image-url('tshats-head.png');
      background-position: center 20%;
      background-repeat: no-repeat;
      background-size: cover;
      // background-attachment: fixed;
      height: 150px;
      width: 100%;
      max-width: 100%;

      @media (min-width: 426px){
        background-image: image-url('tshats-head.png');
        background-position: center 20%;
        background-repeat: no-repeat;
        background-size: cover;
        // background-attachment: fixed;
        height: 250px;
        width: 100%;
        max-width: 100%;
      }
      @media(min-width: 1025px){
        background-image: image-url('tshats-head.png');
        background-position: center 20%;
        background-repeat: no-repeat;
        background-size: cover;
        // background-attachment: fixed;
        height: 300px;
        width: 100%;
        max-width: 100%;
      }
    }
  }
}
