<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>アイテムID</th>
      <th>アイテム名</th>
      <th>カテゴリー</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% items.each do |item| %>
      <tr>
        <td><%= item.id %></td>
        <td><%= link_to item.name, admin_item_path(item.id) %></td>
        <td><%= item.category.name %></td>
        <td><%= item.item_status_i18n %></td>
      </tr>
    <% end %>
  </tbody>
</table>