<div class="container">
  <div class="row">
    <div class="col">
      <h2 class ="text-center my-5">アイテム一覧</h2>
      <div class="ul-align-center">
        <ul class="tab-list list-unstyled">
          <li class="tab tab-active d-inline">
            全アイテム
          </li>
          <li class="tab d-inline">
            所持中
          </li>
          <li class="tab d-inline">
            廃棄済み
          </li>
          <li class="tab d-inline">
            出品中
          </li>
        </ul>
      </div>

      <div class="tabbox-contents">
        <div class="tabbox box-show">
          <%= render 'item_table', items: @items %>
        </div>
        <div class="tabbox">
          <%= render 'item_table', items: @items.where(item_status: "on_keep") %>
        </div>
        <div class="tabbox">
          <%= render 'item_table', items: @items.where(item_status: "discarded") %>
        </div>
        <div class="tabbox">
          <%= render 'item_table', items: @items.where(item_status: "on_sell") %>
        </div>
      </div>

    </div>
  </div>
</div>