<div class="container">

    <div class="row about-box justify-content-center">
      <div class="col-sm-12 col-md-12 col-lg-6 about-img">
        <div class="about"></div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6 about-text-box">
        <div class="about-text">
          <p class ="text">衣類管理とフリマアプリを掛け合わせた</p>
          <p class = "title">サステナブルファッションアプリ</p>
        </div>
      </div>
    </div>
    <div class="circle-icon rounded-circle border border-5 border-dark d-flex align-items-center justify-content-center mx-auto">
      <i class="fas fa-chevron-down fa-2x"></i>
    </div>
    <p class ="scroll-icon text-center">scroll</p>
  <section>

    <h1 class="mb-3">Concept</h1>
    <div class="concept-img"></div>
    <div class="row mt-5">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <h3 class = "title-lg">
          サステナブルファッション<br/>
          を支える
        </h3>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <p> さまざまなデザインの服が安価に手に入り、<br/>
            誰もがいろんなおしゃれを楽しめる時代がやってきました。<br/>
            便利になっていく一方で、環境問題につながる服の大量廃棄が問題に。<br/>
            衣類管理ができておらず、必要以上に買い物をしてしまい、<br/>
            服を大切にできていない人が増えています。<br/>
            自分のクローゼットの状態を知り、必要なものだけを所有する、<br/>
            「あなたにできるサステナブル」をサポートするために<br/>
            minimumは誕生しました。<br/>
        </p>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <h3 class = "title-lg">
          私たちにできること
        </h3>
        <p>衣類管理 <i class="fas fa-times"></i> フリマ</p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <p> サステナブルファッションに対する取り組みとして、<br/>
            私たちは何ができるでしょうか。<br/>
            買い物をする上で、しっかり検討した上で必要なものだけを購入する、<br/>
            長く使えるものを選ぶ、リユースに取り組むということが必要でしょう。<br/>
            minimumでは簡単に衣類管理ができるような機能と、<br/>
            フリマにも簡単に出品できる機能を搭載し<br/>
            気軽にサステナブルファッションを始められるアプリとなっています。
        </p>
      </div>
    </div>

  </section>
  <section>

    <h1 class="mt-5">Apps</h1>
    <div class="app-img"></div>

  </section>
  <section>

    <h2 class="mt-5">Management</h2>
    <div class="management-img"></div>
    <div class="row my-5">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <h4 class = "title-lg">
          所持制限機能
        </h4>
        <p></p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <p> 所持制限機能では、カテゴリー別で<br/>
            アイテムの所持数を決めることができます。<br/>
            新たなアイテムを購入する際には、<br/>
            廃棄するアイテムを検討する必要があるため、<br/>
            しっかりと考えて購入するという習慣をサポートします。
        </p>
      </div>
    </div>

  </section>

   <section>
    <h2 class="mt-5">Flee Market</h2>
    <div class="fleemarket-img"></div>
    <div class="row my-5">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <h4 class = "title-lg">
          二次流通（フリマ）機能
        </h4>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <p>フリマ機能を搭載しているため、登録しているアイテムを、<br/>
           そのままフリマに出品することができます。<br/>
           クローゼットのアイテムは、登録時に詳細情報を入力しているため、<br/>
           フリマに出品する際にアイテム情報の入力が不要です。
        </p>
      </div>
    </div>

  </section>

  <section>
    <h2 class="mt-5">Charts</h2>
    <div class="chart-img"></div>
    <div class="row my-5">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <h4 class = "title-lg">
          データのグラフ化機能
        </h4>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-6">
        <p> 廃棄したアイテムのデータを分析し、廃棄しやすいアイテムの傾向を円グラフとして表示します。<br/>
            廃棄しやすいアイテムを知ることで、商品を選ぶ際にすぐに廃棄してしまうアイテムを避けることができます。<br/>
            購入したアイテムのデータを分析し、購入履歴を棒グラフとして表示します。<br/>
            購入履歴を見返すことで、計画的な商品購入を行うことができます。<br/>
        </p>
      </div>
    </div>

  </section>
  <section class='sell_items_slider'>
    <div class="on_sell_text justify-content-center d-flex">
      <%= image_tag 'public/about_page/sell_item.png' %>
    </div>
    <div id="about_images">
      <% @sell_items.each do |sell_item| %>
        <div class="about_image">
          <%= attachment_image_tag sell_item.item, :item_image, :fill, 300, 300, format: 'jpeg', style: "width: 15rem;" %>
        </div>
      <% end %>
    </div>
    <script type="text/javascript" charset="utf-8">
        $(document).on('turbolinks:load', function () {
            $('#about_images').slick({
                autoplay: true, //自動でスクロール
                autoplaySpeed: 0, //自動再生のスライド切り替えまでの時間を設定
                speed: 5000, //スライドが流れる速度を設定
                cssEase: "linear", //スライドの流れ方を等速に設定
                slidesToShow: 4, //表示するスライドの数
                swipe: false, // 操作による切り替えはさせない
                arrows: false, //矢印非表示
                pauseOnFocus: false, //スライダーをフォーカスした時にスライドを停止させるか
                pauseOnHover: false, //スライダーにマウスホバーした時にスライドを停止させるか
            });
        });
    </script>
  </section>
</div>
