<div class="container-fluid about">
  <div class="row justify-content-center">
    <div class="col-lg-12 col-md-12 col-sm-12 p-0">
      <div class="top-box">
        <div class="top-text text-center text-center">
          <%= link_to image_tag("minimum.png"), "/", class:"navbar-brand p-3" %>
        </div>
        <div class="top-image"></div>
      </div>
    </div>
  </div>
  <div class="sub-title text-center my-5">
    <p>About!</p>
  </div>
  <div class="row justify-content-center">
    <div class="col-6">
      <p class="about-comment text-center">
        私たちは、一体どのように衣類を選んで買っているのでしょう。<bt>
        また、どのようにして捨てる服を選択しているのでしょう。<bt>

        デザイン、着心地、素材、価格など選び方は人それぞれです。<bt>

        昨今、環境意識が高まり始めたことにより、ファッションへの考え方も変わりつつあります。<bt>
        ファッション業界は、服の大量廃棄問題など多くの環境への課題を抱えています。<bt>

        それらの問題解決として、サステナブルファッションや、２次流通に関心が集まっていますが、それらのシステムだけでは決定的な解決にはならないでしょう。<bt>

        そこで必要になってくるのは、一人一人の意識の改変です。 消費者がしっかりと検討して購入をして、すぐに破棄してしまうアイテムの特徴を知ることが大切です。<bt>
          ひとりひとりが必要な服をしっかり検討してから、購入するという意識を持つことで、衣類廃棄の問題を解決に近づくでしょう。<bt>

        minimumは、そんな衣類を大切にしたい方のための衣類管理アプリです。<bt>
        また、衣類管理に加え、フリーマーケット機能も搭載しているので、いらない服をそのまま２次流通に流すこともできます。
      </p>
    </div>
  </div>
</div>