<div class="container-fluid myitems_by_sell">
  <div class="sub-title text-center py-3">
    <p class="text-center green-title"> Items</p>
    <div class="text-center">
      <%= link_to "出品中", myitems_by_order_status_path(order_status: "on_sell") %>
      <%= link_to "取引中", myitems_by_order_status_path(order_status: "now_trading_by_sell") %>
      <%= link_to "売却済", myitems_by_order_status_path(order_status: "close_of_trading_by_sell") %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12 p-0">
      <%= render 'public/sell_items/sell_items_table' ,sell_items: @sell_items %>
    </div>
  </div>
</div>
