<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="ul-align-center">
        <ul class="tab-list list-unstyled">
          <li class="tab tab-active d-inline">
            全アイテム
          </li>
          <li class="tab d-inline">
            インナー
          </li>
          <li class="tab d-inline">
            アウター
          </li>
          <li class="tab d-inline">
            ボトムス
          </li>
        </ul>
      </div>
      <div class="tabbox-contents">
        <div class="tabbox box-show">
          <div class="purchase_date_graph">
            <%= render 'disposal_graph' , high_chart_by_color: @high_chart_by_color,
                                          high_chart_by_brand: @high_chart_by_brand,
                                          high_chart_by_price: @high_chart_by_price,
                                          color: "color",
                                          brand: "brand",
                                          price: "price"
                                          %>
          </div>
        </div>
        <% @categories.each do |category| %>
        <div class="tabbox">
          <div class="purchase_date_graph">
            <%= render 'disposal_graph' , high_chart_by_color: @high_chart_by_category_color[category.id],
                                          high_chart_by_brand: @high_chart_by_category_brand[category.id],
                                          high_chart_by_price: @high_chart_by_category_price[category.id],
                                          color:               "#{category.id}-color",
                                          brand:               "#{category.id}-brand",
                                          price:               "#{category.id}-price"
                                          %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
   var mySwiper = new Swiper('.swiper-container', {
  	loop: true,
  	loopPreventsSlide: true,
  	loopAdditionalSlides: 0,
  	preloadImages: true,
  	updateOnImagesReady: true,
  	preventIntercationOnTransition: true,
  	resistance: false,
  	followFinger: false,
  	passiveListeners: false,
  	observer: true,
  	spaceBetween: 50,
  	effect: 'slide',
  	navigation: {
  		nextEl: '.swiper-button-next',
  		prevEl: '.swiper-button-prev'
  	},
  	pagination: {
  		el: '.swiper-pagination',
  		type: 'bullets',
  		clickable: true
  	}
  });

  var mySwiper2 = new Swiper('.swiper2', {
	slideToClickedSlide: true,
	controller: {
		control: mySwiper1,
		inverse: false,
		by: 'slide'
  	},
  	spaceBetween: 10,
  	slideToClickedSlide: true
  });
  mySwiper1.controller.control = mySwiper2;
</script>
