<h4>月間購入数</h4>
<div class="container">
  <div class="row">
    <div class="col">
      <h4>全アイテム</h4>
      <%= render "purchase_date_table", items: @items %>
      <%= render "purchase_date_graph", items: @items, target: "all" %>
    </div>
  </div>
  <% @categories.each do |category| %>
    <h4><%= category.name %></h4>
    <div class="row">
        <div class="col">
          <%= render "purchase_date_graph", items: current_user.items.where(category_id: category.id), target: category.id %>
      </div>
    </div>
  <% end %>
</div>