<div class="container">
  <div class="row">
    <div class="col">
      <div class="ul-align-center">
        <ul class="tab-list list-unstyled">
          <li class="tab tab-active d-inline">
            全アイテム
          </li>
          <li class="tab d-inline">
            インナー
          </li>
          <li class="tab d-inline">
            アウター
          </li>
          <li class="tab d-inline">
            ボトムス
          </li>
        </ul>
      </div>
      <div class="tabbox-contents">
        <div class="tabbox box-show">
          <div class="purchase_date_graph">
            <%= render "list", items: @items, target: "all" unless @items == nil %>
          </div>
        </div>
        <div class="tabbox">
          <div class="purchase_date_graph">
            <%= render 'list', items: @inner_items, target: "inner" unless @inner_items == nil %>
          </div>
        </div>
        <div class="tabbox">
          <div class="purchase_date_graph">
            <%= render "list", items: @outer_items, target: "outer" unless @outer_items == nil%>
          </div>
        </div>
        <div class="tabbox">
          <div class="purchase_date_graph">
            <%= render "list", items: @bottoms_items, target: "bottoms" unless @nottoms_items == nil %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

