/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require select2
 *= require select2-bootstrap
 *= require_tree .
 *= require_self
 */
// @import 'swiper/swiper-bundle';
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

p{
  margin: 0;
  font-size: 10px;
    @media (min-width: 426px){
      margin: 0;
      font-size: 10px;
    }
    @media(min-width: 1025px){
     margin: 0;
     font-size: 12px;
    }
}
// ボタンボックス

.btn-box{
  background-color: #2f5864;
  p{
    margin: 0;
  }
  a{
    color: white;
  }
}


// sign-up
.image-btn{
  text-align: center;
  width: 35%;
  margin: 10px auto;
}

body{
  color: #2b2b2b;
  font-weight: 200;
  font-family: 'Meiryo';
  // background: #eee;
  padding-bottom: 120px;
}

a {color: #2f5864;}
a:hover {color: #2f5864;}

.btn {
  border-radius: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
// skipprの記述

#box{
  height: 500px;
  position: relative;
  width: 100%;
  min-height: 100vh;
  color: white;
  .box-text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    padding: 15px;
    z-index: 9999;
  }
}
.image1 {
  background-image: image-url("clothes1.jpg");
}
.image2 {
  background-image: image-url("clothes2.jpg");
}
.image3 {
  background-image: image-url("clothes3.jpg");
}
.image4{
  background-image: image-url("clothes4.jpg");
}

.left-message{
  text-align: left;
}

.right-message{
  text-align: right;
}

.n-circle {
  position: absolute;
  padding-left: 1rem;
  padding-top: 0rem;
  color: #efa04c;
}

// ユーザー編集ボタン
.user-edit{
  color: #708090;
}

.user-edit:hover{
  color: #c0c0c0;
}

// ユーザー詳細各種ボタン
.button01 a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1em 2em;
  width: 100%;
  color: #333;
  font-size: 18px;
  font-weight: 700;
  background-color: whitesmoke;
  transition: 0.3s;
}

.button01 a::after {
  content: '';
  width: 10px;
  height: 10px;
  border-top: 3px solid #333333;
  border-right: 3px solid #333333;
  transform: rotate(45deg);
}

.button01 a:hover {
  text-decoration: none;
  background-color: #bbbbbb;
}

#chats{
  padding: 20px 10px;
  text-align: right;
  font-size: 14px;
  // background: #7da4cd;
}
.fukidasi {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}
.fukidasi .faceicon {
  float: left;
  margin-right: -50px;
  width: 40px;
}
.fukidasi .faceicon img{
  width: 90%;
  height: auto;
  border-radius: 50%;
}
.fukidasi .chatting {
  width: 100%;
  text-align: left;
}
.says {
  font-size: 15px;
  position: relative;
  margin: 0 0 0 50px;
  padding: 10px;
  border-radius: 12px;
  background: #edf1ee;
}
.says:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #edf1ee;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}
.says p {
  margin: 0;
  padding: 0;
}
.mycomment {
  margin: 10px 0;
}
.mycomment p {
  display: inline-block;
  position: relative;
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 250px;
  border-radius: 12px;
  background: #edf1ee;
  font-size: 15px;
}
.mycomment p:after {
  content: "";
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #edf1ee;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

.rate-star-box{
  margin: 0 0 0 50px;
}

// 戻るボタン
.Arrow-Left {
  border-bottom: solid 2px #333333;
  border-left: solid 2px #333333;
  width: 2px;
  height: 2px;
  transform: rotate(45deg);
}

// ショップトップ
.sell_item_index_image{
  background-image: image-url('tshats-head.png');
  background-position: center 20%;
  background-repeat: no-repeat;
  background-size: cover;
  // background-attachment: fixed;
  height: 400px;
  width: 100%;
  max-width: 100%;

}

// 検索
.search{
  position: absolute;
  top: 60%;
  z-index: 9999;
}

.search-text{
  position: absolute;
  top: 50%;
  color: #778899;
  z-index: 9999;
}

.user-thin{
  color: #778899;
}

// 商品詳細
.sell_item_name{
  font-size: 30px;
  line-height: 1.4;
}

.sell_item_brand{
  font-size: 16px;
  color: #2f5864;
}

.sell_item_price_box{
  align-items: center;
  margin: 20px 0;
}
.sell_item_price{
  font-size: 30px;
}

.btn-purchase{
  height: 60px;
  font-size: 16px;
  font-weight: 700;
}

a.btn-purchase {
  border-radius: 0;
  background: #2f5864;
  color: white;
}

a.btn-purchase:hover {
  opacity: 0.9 ;
  color: white;
}

.sell_item_box{
  margin-left: 50px;
  width: 100%;
}

@media (max-width: 1023px){
  .sell_item_box {
    margin-left: 0;
    padding: 25px;
    box-sizing: border-box;
  }
  .comment_like{
    justify-content: center;
  }
}

@media (max-width: 1023px){
  .comment_like{
    justify-content: center;
  }
}

// 商品詳細テーブル
.sell_item_table th{
  width: 39%;
  text-align: left;
  font-weight: 400;
  background: #fafafa;
}

// 購入後のボタン
.btn.is-disable {
  background: #ebebeb;
  color: #888;
}

.order-confirm-btn{
  background: #ebebeb;
  color: #888;
}

.order-new-title{
  color: #778899;
}

// 注文確定
.order-finish-table th{
  background: #ebebeb;
}

// today-clothe
.card-img{
  position: relative;
}

.card-img span {/*aタグを画像の真ん中に*/
  background-color: black;
  opacity: 0.4;
  position: absolute;
  top: 20%;
  left: 20%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  /*以下装飾*/
  margin:0;/*余計な隙間を除く*/
  font-size: 20px;/*文字サイズ*/
  border: solid white 2px; /*線で囲う*/
  padding: 7px;/*文字と線の間の余白*/
  color: white;/*文字色*/
  text-decoration: none;/*下線を表示させない*/
  }

.card-img span:hover{/*カーソルを当てたとき*/
  background: rgba(255, 255, 255, 0.3);/*背景を半透明に*/
  }

.t-shats-icon{
  color: white;
  z-index: 9999;
}

.category-name{
  color: #2f5864;
  display: inline-block;
  border-bottom: solid 1px #2f5864;
}

.clothes{
  background-image: image-url('clothes.png');
  background-position: center 20%;
  background-repeat: no-repeat;
  background-size: cover;
  // background-attachment: fixed;
  height: 300px;
  width: 100%;
  max-width: 100%;
}

.clothes-text{
  z-index: 9999;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  /*以下装飾*/
  margin:0;/*余計な隙間を除く*/
  font-size: 20px;/*文字サイズ*/
  padding: 7px;/*文字と線の間の余白*/
  color: white;/*文字色*/
  text-decoration: none;/*下線を表示させない*/
}

.clothes::before{
  /* 透過した黒を上から重ねるイメージ */
  background-color: rgba(0,0,0,0.4);
  /* 自由に位置指定 */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}

.new-item-top{
  background-image: image-url('new-item-top.png');
  background-position: center 20%;
  background-repeat: no-repeat;
  background-size: cover;
  // background-attachment: fixed;
  height: 300px;
  width: 100%;
  max-width: 100%;
}

.new-item-box{
  position: relative;
}

.new-item-text{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  color: #2f5864;
}

.item-new-fields{
  color: #2f5864;
}

// 緑のボタン
.btn-green{
  background-color: #2f5864;
  color: white;
}

.btn-green:hover{
  background-color: #2f5864;
  color: white;
  opacity: 0.8;
}

// 緑のタイトル
.green-title{
  color: #2f5864;
  border-bottom: solid 1px #2f5864;
  display: inline-block;
}

// 大デバイス（デスクトップ, 1200px 未満）
@media (min-width: 992px) {
 .rem-table {
   font-size: 1.5.0rem;
 }
}
// 中デバイス（タブレット, 992px 未満）
@media (max-width: 991.98px) {
 .rem-table {
   font-size: 1.0rem;
 }
}
// 小デバイス（横向きモバイル, 768px 未満）
@media (max-width: 767.98px) {
 .rem-table {
   font-size: 1.0rem;
 }
}
// @include media-breakpoint-up(sm) {
// 極小デバイス（縦向きモバイル, 576px 未満）
@media (max-width: 575.98px) {
 .rem-table {
   font-size: 0.5rem;
 }
}

// いいね一覧

// 出品商品
.sell-item-top{
  background-image: image-url('favorite-top.png');
  background-position: center 20%;
  background-repeat: no-repeat;
  background-size: cover;
  // background-attachment: fixed;
  height: 300px;
  width: 100%;
  max-width: 100%;
}

.sell-item-text{
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  color: #2f5864;;
}

// タイトル
.top-title{
  font-size: 15px;

  @media (min-width: 426px){
    font-size: 20px;
  }
  @media(min-width: 1025px){
    font-size: 25px;
  }
}

.sub-title{
  font-size: 15px;
  color: #2f5864;
  @media (min-width: 426px){
    color: #2f5864;
    font-size: 20px;
  }
  @media(min-width: 1025px){
    color: #2f5864;
    font-size: 20px;
  }
}

.sub-title a:link{
  font-size: 10px;

  @media (min-width: 426px){
    font-size: 15px;
  }
  @media(min-width: 1025px){
    font-size: 15px;
  }
}

td{
  font-size: 10px;

  @media (min-width: 426px){
    font-size: 15px;
  }
  @media(min-width: 1025px){
    font-size: 15px;
  }
}

.title-L{
  font-size: 15px;
  color: #2f5864;
  @media (min-width: 426px){
    color: #2f5864;
    font-size: 20px;
  }
  @media(min-width: 1025px){
    color: #2f5864;
    font-size: 30px;
  }
}

body{
  min-height: 100vh;
  position: relative;/*←相対位置*/
  padding-bottom: 120px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}
// フッター
footer {
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  position: absolute;/*←絶対位置*/
  bottom: 0;

}

.footer-text {
  color: #6c6b6b;
  font-size: 10px;
  @media (min-width: 426px){
    color: #6c6b6b;
    font-size: 15px;
  }
  @media(min-width: 1025px){
    color: #6c6b6b;
    font-size: 15px;
  }
}

// アバウトページ
section{
  margin-bottom: 200px;
}

.about-box{
   height: 600px; /*heightの指定は必須*/
  .about-img{
     position: relative;
    .about{
      background-image: image-url('logo-minimum-gray');
      background-position: center 20%;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;  /*要素を浮かす*/
      /*relativeを指定した親要素を支点とした位置をすべて0に指定↓*/
      top: 7%; /*親要素を起点に上から50%*/
      height: 600px;
      width: 600px; /*widthの指定は必須*/
    }
  }
    .about-text-box{
     position: relative;
    .about-text{
      background-position: center 20%;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;  /*要素を浮かす*/
      /*relativeを指定した親要素を支点とした位置をすべて0に指定↓*/
      top: 45%; /*親要素を起点に上から50%*/
    }
  }

}
.about-text-box{
   position: relative;
  .about-text{
    background-position: center 20%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;  /*要素を浮かす*/
    /*relativeを指定した親要素を支点とした位置をすべて0に指定↓*/
    top: 50%; /*親要素を起点に上から50%*/
  }
}

.concept-img{
   background-image: image-url('about-content') ;
   background-size:contain;
   height: 600px;

   background-repeat:no-repeat;

}

.app-img{
   background-image: image-url('app') ;
   background-size:contain;
   height: 600px;

   background-repeat:no-repeat;

}

.chart-img{
   background-image: image-url('chart') ;
   background-size:contain;
   height: 600px;

   background-repeat:no-repeat;

}

.management-img{
   background-image: image-url('management') ;
   background-size:contain;
   height: 600px;

   background-repeat:no-repeat;

}

.fleemarket-img{
   background-image: image-url('fleemarket') ;
   background-size:contain;
   height: 600px;

   background-repeat:no-repeat;

}

.circle-icon{
  margin-top: 30px;
  border: 4px;
  width: 50px;
  height: 50px;
}

.scroll-icon{
  margin-bottom: 200px;
}

.item_card{
  img{
    width: 94px;
    @media (min-width: 426px){
      width: 136px;
    }
    @media(min-width: 1025px){
      width: 183px;
    }
  }
}