<h3 class="text-center">通知</h3>
<%= link_to "通知削除", notification_path(@notifications), method: :delete ,class: "fas fa-trash" %>
<% if @notifications.exists? %>
  <% @notifications.each do |notification| %>
    <div class="notification-index">
      <%= render "public/notifications/notification", notification: notification %>
    </div>
  <% end %>
<% else %>
  <p>通知はありません</p>
<% end %>