<div class="container-fluid favorite">

  <div class="row justify-content-center">
    <div class="col-lg-12 col-md-12 col-sm-12 p-0">
      <div class="top-box">
        <div class="top-text text-center p-2 text-center">
          <p class="m-0">Favorite！</p>
          <p class="m-0">お気に入りアイテム</p>
        </div>
        <div class="top-image"></div>
      </div>
    </div>
  </div>

  <div class="sub-title text-center">
    <p class="text-center my-5 green-title">Favorite Items</p>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12 p-0">
      <table class ="table table-hover table-inverse rem-table">
        <thead>
          <tr>
            <th></th>
            <th>アイテム</th>
            <th>ブランド</th>
            <th>価格</th>
          </tr>
        </thead>
        <%= render partial: 'public/users/likes_table', collection: @likes, as: :like %>
      </table>
    </div>
  </div>
</div>