<div class="status-box">
  <h5 class="text-center status-search-text">アイテム切り替え</h5>
  <div class="status-box justify-content-center">
    <div class="row pr-3 pl-3 justify-content-center">
        <div class="col-lg-1 col-sm-3 text-center mt-3">
          <ul class="status-list text-center">
            <li>
              <div>
                <%= link_to item.item_status_i18n, class:"genre-link text-nowrap" %>
              </div>
            </li>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>